@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

table.GeneratedTable {
  width: 100%;
  background: none;
  border-collapse: collapse;
  border: none;
  color: #000000;
}
table.GeneratedTable th

table.GeneratedTable td,
table.GeneratedTable th {
  border: none;
  height: 50px;
  width: 85px;
}