@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

table.GeneratedTable {
  width: 100%; /* Adjusted to fit the table within the screen without overflow */
  max-width: 100vw; /* Ensures the table does not exceed the viewport width */
  background: none;
  border-collapse: collapse;
  border: none;
  color: #000000;
}

table.GeneratedTable td {
  border: none;
  height: 10vh;
  width: 3vw;
}